<div 
    class="notification" 
    [class.notification_active]="_notificationService.isNotificationBarOpen"
    [ngClass]="'notification_' + getNotificationTypeAsString()"
>
    <h3 class="notification__header">{{ _notificationService.title }}</h3>
    <p class="notification__message">{{ _notificationService.message }}</p>
    <button (click)="closeNotificationBar()" class="notification__close-btn">
        <svg class="icon">
            <use xlink:href="#icons8-delete"></use>
          </svg>
    </button>
</div>